# Set default behavior to automatically normalize line endings
* text=auto eol=lf

# Explicitly declare text files to be normalized
*.{js,jsx,ts,tsx,css,html,json,md} text eol=lf

# Denote all files that are truly binary and should not be modified
*.{png,jpg,jpeg,gif,svg,ico} binary
*.{ttf,woff,woff2} binary
